@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    margin: 0;
    min-height: 100%;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  input:focus,
  input:focus-visible,
  textarea:focus,
  textarea:focus-visible,
  select:focus,
  select:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }

  input:focus-within,
  textarea:focus-within,
  select:focus-within {
    outline: none !important;
    box-shadow: none !important;
  }

  body {
    @apply bg-palette-background text-palette-text antialiased selection:bg-palette-primary/20 selection:text-palette-primaryDark;
    overscroll-behavior-y: none;
  }
}

@layer utilities {
  .no-number-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .no-number-spinner::-webkit-outer-spin-button,
  .no-number-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
